<ion-content [fullscreen]="true">

  <ion-title class="ion-text-center ion-margin-top ion-padding-top" size="x-large">Photos</ion-title>

  <div class="ion-text-center ion-margin-top ">
    <ion-button class="mr1" shape="round" color="ligth">
      <ion-icon slot="icon-only" color="medium" name="videocam-outline"></ion-icon>
    </ion-button>
    <ion-button class="mr1" shape="round" color="ligth">
      <ion-icon slot="icon-only" color="medium" name="heart-outline"></ion-icon>
    </ion-button>
    <ion-button class="mr" shape="round" color="ligth">
      <ion-icon slot="icon-only" color="medium" name="time-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>