<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="video">
      <ion-icon name="image-outline"></ion-icon>
      Photos
    </ion-tab-button>
    <ion-tab-button tab="notification">
      <ion-icon name="file-tray-stacked-outline"></ion-icon>
      Albums
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="git-branch-outline"></ion-icon>
      Partages
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon name="musical-notes-outline"></ion-icon>
      Musiques
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>