<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="title" size="large"><ion-item color="none" lines="none">
        <ion-icon aria-hidden="true" slot="end" expand="block" name="notifications-outline"></ion-icon>
        <ion-icon aria-hidden="true" slot="end" id="open-modal" expand="block" name="settings-outline"></ion-icon>

        <ion-label>
          <ion-chip>
            Pour vous

          </ion-chip>
        </ion-label>
        <ion-label>
          <ion-chip>
            Bibliothèque

          </ion-chip>
        </ion-label>
      </ion-item></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <swiper-container [slidesPerView]="1" [loop]="true">
    <swiper-slide>
      <ion-card class="card_categorie">
        <h3>Categorie</h3>
        <ion-item class="ion-no-border">
          <ion-icon aria-hidden="true" slot="end" name="play-circle-outline"></ion-icon>
          <ion-label>Wi-Fi 3</ion-label>
        </ion-item>
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="card_categorie">
        hkskuoi sklk
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="card_categorie">
        hkskuoi zacqcdq
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="card_categorie">
        hkskuoi
      </ion-card>
    </swiper-slide>
    <swiper-slide><ion-card class="card_categorie">
        hkskuoi sklk
      </ion-card></swiper-slide>
    <swiper-slide><ion-card class="card_categorie">
        hkskuoi zacqcdq
      </ion-card></swiper-slide>
  </swiper-container>
  <ion-text>
    <h5 class="pl-05"> <strong>Albums</strong></h5>
  </ion-text>





  <ion-grid class="pl-05">
    <ion-row class="ox">
      <ion-col size="5" size-md="3" size-lg="2">
        <div class="categorie">
          <img class="rounded" src="../../assets/tenis2.jpg" alt=""><br>
          <ion-text> titre </ion-text>
        </div>
      </ion-col>
      <ion-col size="5" size-md="3" size-lg="2">
        <div class="categorie">
          <img class="rounded" src="../../assets/tenis2.jpg" alt=""><br>
          <ion-text> titre </ion-text>
        </div>
      </ion-col>
      <ion-col size="5" size-md="3" size-lg="2">
        <div class="categorie">
          <img class="rounded" src="../../assets/tenis2.jpg" alt=""><br>
          <ion-text> titre </ion-text>
        </div>
      </ion-col>
      <ion-col size="5" size-md="3" size-lg="2">
        <div class="categorie">
          <img class="rounded" src="../../assets/tenis2.jpg" alt=""><br>
          <ion-text> titre </ion-text>
        </div>
      </ion-col>
      <ion-col size="5" size-md="3" size-lg="2">
        <div class="categorie">
          <img class="rounded" src="../../assets/tenis2.jpg" alt=""><br>
          <ion-text> titre </ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-text>
    <h5 class="pl-05"> <strong><em>Mes Musiques</em></strong></h5>
  </ion-text>
  <ion-list lines="none">
    <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
      <ion-reorder>
        <ion-item>
          <ion-icon aria-hidden="true" name="stats-chart-outline" slot="start"></ion-icon>

          <ion-icon aria-hidden="true" name="heart" slot="end"></ion-icon>
          <ion-icon aria-hidden="true" slot="end" name="ellipsis-vertical-outline"></ion-icon>
          <ion-label>Wi-Fi 1</ion-label>
        </ion-item>
      </ion-reorder>
      <ion-reorder>
        <ion-item>
          <ion-icon aria-hidden="true" name="stats-chart-outline" slot="start"></ion-icon>

          <ion-icon aria-hidden="true" name="heart" slot="end"></ion-icon>
          <ion-icon aria-hidden="true" slot="end" name="ellipsis-vertical-outline"></ion-icon>
          <ion-label>Wi-Fi 1</ion-label>
        </ion-item>
      </ion-reorder>
      <ion-reorder>
        <ion-item>
          <ion-icon aria-hidden="true" name="stats-chart-outline" slot="start"></ion-icon>

          <ion-icon aria-hidden="true" name="heart" slot="end"></ion-icon>
          <ion-icon aria-hidden="true" slot="end" name="ellipsis-vertical-outline"></ion-icon>
          <ion-label>Wi-Fi 1</ion-label>
        </ion-item>
      </ion-reorder>
      <ion-reorder>
        <ion-item>
          <ion-icon aria-hidden="true" name="stats-chart-outline" slot="start"></ion-icon>

          <ion-icon aria-hidden="true" name="heart" slot="end"></ion-icon>
          <ion-icon aria-hidden="true" slot="end" name="ellipsis-vertical-outline"></ion-icon>
          <ion-label>Wi-Fi 1</ion-label>
        </ion-item>
      </ion-reorder>

    </ion-reorder-group>


  </ion-list>
  <div class="btn">
    <ion-item>
      <div class="icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ion-icon aria-hidden="true" name="play-outline" slot="end"></ion-icon>
      <ion-icon aria-hidden="true" name="layers-outline" slot="end"></ion-icon>

      <ion-label id="play-modal">Wi-Fi </ion-label>

    </ion-item>
  </div>
  <!-- modal des paramètres -->
  <ion-modal #modal trigger="open-modal" [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Paramètres</ion-title>
          <ion-buttons slot="end">
            <ion-icon (click)="modal.dismiss()" size="large" name="contract-outline"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-list>
        <ion-item lines="none" class="user">
          <ion-avatar slot="start" class="avatar">
            <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>Connor Smith</h2>
            <p>Sales Rep</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-content>
        <ion-list lines="none">
          <ion-item [button]="true" id="compte" [detail]="true">
            <ion-icon aria-hidden="true" name="person-outline" slot="start"></ion-icon>
            <ion-label>Mon compte</ion-label>
          </ion-item>

          <ion-popover trigger="compte" side="end">
            <ng-template>
              <ion-content>
                <ion-list lines="none">
                  <ion-item>
                    <ion-icon aria-hidden="true" name="brush-outline" slot="start"></ion-icon>
                    <ion-label>Mettre à jour</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-icon aria-hidden="true" name="reorder-four-outline" slot="start"></ion-icon>
                    <ion-label>Ma Bibliothèque</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-icon aria-hidden="true" name="heart" slot="start"></ion-icon>
                    <ion-label>Mes Favoris</ion-label>
                  </ion-item>

                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
          <ion-item [button]="true" [detail]="true" id="affichage">
            <ion-icon aria-hidden="true" name="brush-outline" slot="start"></ion-icon>
            <ion-label>Affichage</ion-label>
          </ion-item>
          <ion-popover trigger="affichage" side="end">
            <ng-template>
              <ion-content>
                <ion-list lines="none">
                  <ion-item>
                    <ion-toggle [(ngModel)]="paletteToggle" (ionChange)="toggleChange($event)" justify="space-between"
                      [enableOnOffLabels]="true"> {{paletteToggle?'Mode Clair':'Mode Sombre'}} </ion-toggle>
                  </ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
          <ion-item [button]="true" [detail]="true" id="nested-trigger">
            <ion-icon aria-hidden="true" name="layers-outline" slot="start"></ion-icon>
            <ion-label>Mon compte</ion-label>
          </ion-item>

          <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
            <ng-template>
              <ion-content>
                <ion-list>
                  <ion-item [button]="true" [detail]="false">Nested option</ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-list>
      </ion-content>


    </ng-template>
  </ion-modal>


  <!-- modal du lecteur -->
  <ion-modal #modal2 trigger="play-modal" [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation">
    <ng-template>
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="modal2.dismiss()"> <ion-icon size="large" name="chevron-down-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="ion-text-center ">
          <div class="music-image">
            <img class="album-img rotating" shape="round" src="../../assets/tenis2.jpg" alt="Music Image">
          </div>
          <div class="icon2">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>




          <ion-button class="mr1 mt1 ion-no-border tx2" fill="clear" color="medium">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
          <ion-button class="mr1 mt1 ion-no-border tx2" fill="clear" color="medium">
            <ion-icon name="heart"></ion-icon>
          </ion-button>
          <ion-button class="mr1 mt1 ion-no-border tx2" fill="clear" color="medium">
            <ion-icon name="stats-chart-outline"></ion-icon>
          </ion-button>
          <ion-button class="mr mt1 ion-no-border tx2" fill="clear" color="medium">
            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
          </ion-button>
          <ion-range class="ml1 mr1"></ion-range>

        </div>
        <div class="ion-text-center  ml1 mr1">
          <ion-icon color="medium" class=" top0 mr1  ion-no-border tx3" name="repeat-outline"></ion-icon>
          <ion-badge color="medium">1</ion-badge>
          <ion-icon color="medium" class=" mr1 ion-no-border  tx3" name="arrow-undo"></ion-icon>
          <ion-icon color="medium" class=" mr1 ion-no-border  playB " name="play-circle"></ion-icon>
          <ion-icon color="medium" class=" mr1 ion-no-border  tx3" name="arrow-redo"></ion-icon>
          <ion-icon color="medium" class="  ion-no-border  tx3" name="layers-outline"></ion-icon>

        </div>
      </ion-content>


    </ng-template>
  </ion-modal>

</ion-content>